<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navigation.ejs') %>

    <main class="text-white vh-100 container text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum id dolorum corrupti reprehenderit eos tempora fugit ipsa quasi minus rerum illum cum nulla harum, eligendi ex ducimus distinctio neque.
                Sit, sint esse ut exercitationem quasi qui architecto. Exercitationem sapiente dolorum hic ab molestiae soluta voluptatem, rem quos id harum totam quod at aliquid? Quidem dicta harum rerum laboriosam provident.
                Totam veritatis eligendi, nisi voluptate sequi vitae impedit quod voluptates explicabo exercitationem similique aliquam reiciendis non eius. Dolor quam earum ipsam eos doloremque aperiam odit mollitia quis a, corporis vel!
                Eos rem maiores nesciunt repellat aliquam quae quia enim voluptatibus, officiis consequuntur nemo impedit expedita labore libero sapiente fuga provident reprehenderit sequi blanditiis, earum quasi. Voluptatum, culpa. Assumenda, ad culpa.
                Modi non et repellendus saepe animi? Dolor voluptatum beatae est veritatis nostrum aspernatur ab, animi sapiente, suscipit dolorum nobis, fugiat recusandae accusantium minima obcaecati nemo aut maxime. Tempora, dolores incidunt.
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>