<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navigation.ejs') %>
    <header class="container vh-100 d-flex justify-content-center aling-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/mi logo_v0.0.2.png"alt="Logo" class="w-25"/>
            <!-- <h1 class="display-1 my-3 text-uppercase fw-bold">cg</h1> -->
            <a href="/about" class="btn btn-primary">About</a>
        </div>
    </header>

    <%- include('partials/footer.ejs') %>
</body>
</html>